<% if @current_user.nil? %>

  <div class="page-container">
    <header class="home-header">
      <div class="welcome">
        <h1 class="english-header">Kana-o-Manabu!</h1>
        <h4 class="kana-header">仮名をまなぶ！</h4>
        <p>Learn Hiragana Fast!</p>
        </div> <!--end of welcome div-->
    </header>

    <main class="home-main">
      <h3 id="welcome-kana" class="kana-type">いらっしゃいませ!<br /> <span id="welcome-english" class="english-type"> Welcome to Kana-o-Manabu!</h3>
      <p class="app-blurb">Learn all 46 standard Hiragana characters fast with mneumonics! Due to hiragana's relative simplicity (at least compared to kanji), image-based mnemonics are a perfect method for memorization. Each hiragana character has a memorable illustration that goes along with it. <br />Get started today!</p>

    </main>

  <% else %>

    <main>

        <div class="personal-stats">
          <p id="hello-kana">こんにちは！</p>
          <p id="hello-english">Welcome back <%= "#{@current_user.username.capitalize}" %></p>
        </div>

            <div class="homepage">
              <h5 class="welcome-blurb-scores">
              Here are your latest test scores:</h5>

              <% if @current_user.enrolments.length > 0 %>
                <% @current_user.enrolments.each do |e| %>
                  <ul>
                    <li>
                      <%= "#{(e.lesson.lessonName).split(':').shift}: #{e.score}/5" %>
                    </li>
                  </ul>
                <% end %>
              <% else %>
                <h5 class="welcome-blurb">Get studying now! がんばって　ください！</h5>
              <% end %>

              <p class="sugoi">
                すごい (sugoi)！ Wow!
              </p>
              <p class="sugoi">
                よくやったね (yoku yattane)！ Well done!
              </p>


               <!-- <p>
                IDEAS FOR ANOTHER TIME TODO: XYZ, your next lesson is XYZ, your current leanring streak is X days in a row. Your current score percentage is X%</p> -->
        </div>
    </main>

  </div><!--end of homepage div-->

  </div> <!--end of page container-->

  <% end %>
