<div id="indiv-lesson">

<h1>All Hiragana Characters:</h1>


<% @characters.each do |character| %>
<%= image_tag character.image, :class => "kana-lesson-image", :alt => "kana image"%>
<p><%== character.info %> </p>
<% end %>
<a href='#home'>Back to top!</a>
</div>
