<div class="lesson-index">


    <h1 class="lesson-header">Available Lessons:</h1>

    <% @lessons.each do |lesson| %>
    <ul>
    <li><%= link_to "#{lesson.lessonName}", lesson_path(lesson)%></li>
    </ul>
    <% end %>
</div>
