<div class="quiz-result-container">
  <header>
      <h1>Your Quiz Results</h1>
  </header>

  <main>
    <% @current_user.enrolments.each do |e| %>
    <ul>
      <li>
        <%= "You Score for #{e.lesson.lessonName} is: #{e.score}" %>
      </li>
    </ul>
    <% end %>
  </main>
</div>
