<div class="test-page">
  <header>
    <h1>がんばろう! Good Luck!</h1>
  </header>

  <main class="login-form-container">
    <!-- question and normal text box - finding ans happens in js.  -->
    <h3>Type the sound of the Hiragana Kana in the box below it</h3>

    <% @lesson.questions.each do |question| %>
      <p class="test-question"><%= question.testQuestion %></p>


      <%= text_field_tag(:text, "", :class => "input-field") %>
    <% end %>

    <%= content_tag :div, id: "kana-answer", data: {answer: @lesson.questions} do %>
    <% end %>

   <%= submit_tag("Submit", :class => "submit-btn") %>

  </main>
</div>
