////IMPORTS/////
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(//fonts.googleapis.com/earlyaccess/kokoro.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: 'norwester';
  src: url('../norwester.otf');
}

///////////VARIABLES///////////
$japanese-font: 'Noto Sans Japanese', sans-serif; //this is simple and standard good one to learn on
$japanese-font2: 'Kokoro', serif; //but more scribbly but nice.
$english-head-font: 'norwester', sans-serif;
$english-font: 'Roboto', sans-serif;
$hover: #FFAA43;
$orange: rgb(255, 128, 41);
$orange-t: rgba(255, 128, 41, 0.8);
$blue: rgb(2, 166, 178);
$blue-t: rgba(2, 166, 178, 0.8);
$light-blue: rgb(41, 240, 255);
$light-blue-t: rgba(41, 240, 255, 0.8);
$lesson-blue: #6EBBFD;
$burnt-orange: rgb(178, 73, 0);
$burnt-orange-t: rgba(178, 73, 0, 0.8);


////////RESET & BODY///////
///////////////RESET///////////////////

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 108px;
  font-family: $english-font;
}

//////////LANDING PAGE//////////

.home-header {
  position: relative;
  opacity: 0.7;
  background: #111;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);


  .english-header {
    padding: 20px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-family: $english-head-font;
    font-size: 20vw;
    color: white;
  }

  .kana-header {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    font-family: $japanese-font;
    font-size: 10vw;
  }

  p {
    font-family: $english-head-font;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    padding-bottom: 40px;
  }
}

.home-header::before {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size:cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: url("kana-wave-banner.jpg");
}

.home-main {
  background-color: $blue;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;

  #welcome-kana {
    font-size: 2rem;
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
  }

  #welcome-english {
    @extend #welcome-kana;
  }

  .app-blurb {
    @extend #welcome-kana;
    font-size: 1rem;
    padding: 20px 0;
  }
}

nav {
  background: linear-gradient(yellow, $hover, $orange);
  padding: 9px 5px;

  .nav-link {
    color: white;
    display: inline;
  }

  a:hover {
    color: $lesson-blue;
    transition: 2s;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(yellow, $hover, $orange);
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  color: #004080;
  padding-top: 5px;

  .footer-socials {
    padding-bottom: 7px;

    a {
      padding: 0 5px 0 0;
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: $lesson-blue;
      transition: 2s;
    }
  }
  .disclaimer {
    color: #004080;
    font-size: 0.7rem;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: $light-blue;
    transition: 2s;
  }
}

///////SIGNED IN HOMEPAGE VIEW///

.homepage {
  @extend .home-main;
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: 35vh;
  font-size: 6vw;

  .welcome-blurb {
    font-size: 2rem;
  }

  .sugoi {
    margin-bottom: 0 !important;
  }

}

.personal-stats {
  @extend .home-header;
  min-height: 35vh;
  #hello-kana {
    @extend #welcome-kana;
    font-size: 2.2rem;
    padding-top: 20px;
    padding-bottom: 5px !important;
  }

  #hello-english {
    @extend #welcome-english;
      font-size: 1.7rem;
  }
}

////////SIGN IN/SIGN UP ///////
.login-page {
  padding-top: 20px;
  height: 78vh;
  position: relative;
  opacity: 0.7;
  background: #111;
  overflow: hidden;
  // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  .login-form-container {
    margin-left: 20px;
    z-index: 2;
    position: relative;
    color: #fff;


    .login-header {

      font-family: $english-head-font;
    }
    .form-label {
      font-size: 1.7rem;

    }

     .input-field {
        border: solid 2px $blue;
     }

     .submit-btn {
      color: white;
       background-color: $blue;
       margin: 10px 0;
       padding: 5px 10px;
       opacity: 1;
     }
     .facebook {
      color: white;
      padding: 2.5px;
      border-radius: 3px;
      border: 1px solid white;
      background-color: #3B5998;
      margin-bottom: 35px;
     }
  }
}

.login-page::before {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size:cover;
    // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: url("kana-wave-banner.jpg");
}

////////LESSON INDEX////

.lesson-index {
  background: linear-gradient( #004080, $blue, $light-blue, #FFFF99);
  color: white;
  min-height: 80vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 40px;

  .lesson-header {
    font-family: $english-head-font;
    font-size: 6vw;
  }

  li {
    list-style-type: none;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: $hover;
      transition: 2s;
    }
  }
}

////////////INDIVIDUAL LESSONS/////

#indiv-lesson {
  max-width: 90vw;
  padding-left: 10px;

  h1 {
    color: $lesson-blue;
  }

  .kana-lesson-image {
    width: 90vw;
  }

  .back-btn {
    padding-bottom: 20px;
  }
  a {
    color: $lesson-blue;
    text-decoration: none;
    font-size: 5vw;
    padding-bottom: 20px;
  }

  a:hover {
    color: $hover;
    transition: 2s;
  }
}

//maybe add weather api for tokyo???? //// just extra cool feature

//////////////QUIZ PAGE///////

.test-page {
  margin: auto 0;
  @extend .lesson-index;
  padding-left: 0;
  // display:flex;


  .test-form-container {
    text-align: center;
    width: 90vw;
    @extend .login-form-container;
  }

  .test-question-grid {
    max-width: 90vw;
    display:flex;
  }

  .test-question {
    // display:flex;
    width: 10vw;
    height: 70px;
  }

  .input-field {
    width: 10vw;
  }

  h1 {
    color: white;
    text-align: center;
  }
  h3 {
    color: white;
    font-size: 5vw;
    text-align: center;
    padding-bottom: 35px;
  }

  p {
    color: white;
    font-size: 5vw;

  }

  .kana-submit {
    color: white;
     background-color: $blue;
     margin: 36px 0;
     padding: 10px 10px;
     border-radius: 4px;
  }
}

/////////////QUIZ RESULTS PAGE /////////////
.quiz-result-container {
  @extend .lesson-index;
}

/////////////MEDIA Queries////////
@media (min-width: 500px) {
  .personal-stats {
    min-height: 45vh !important;
    #hello-kana {
      font-size: 8rem !important;
    }
    #hello-english {
      font-size: 5rem !important;
    }
    .welcome-blurb {
      font-size: 2rem !important;
    }
  }


  .homepage {
    padding-top: 20px;
  padding-bottom: 100px;
    min-height: 35vh;
    font-size: 6vw;

    .welcome-blurb {
      font-size: 3.5rem;
    }
    .welcome-blurb-scores {
      font-size: 2rem;
    }

    li {
      font-size: 2.5rem;
    }
    .sugoi {
      font-size: 1.2rem !important;
    }
  }
  .lesson-index {
    padding-bottom: 50px;
  }

  li {
    list-style-type: none;
    font-size: 2.5vw;
  }

  .test-page {
    min-height: 80vh;

    .test-form-container {
      max-width: 80vw;
      margin: 0 auto;
    }

    h1 {
      font-size: 5rem;
    }
    h3 {
      font-size: 2.5rem;
      text-align: center;
    }

    p {
      position: relative;
      z-index: 2;
      color: white;
      font-size: 3rem;
    }
  }
}

@media (min-width: 730px) {
  .welcome {
    .english-header {
      padding: 10px !important;
      font-size: 12vw !important;
    }

    .kana-header {
      font-size: 8vw !important;
    }

    p {
      font-size: 3vw !important;
    }
  }

  .footer-socials {

    a {
      font-size: 2.5vw;
    }
  }
  .disclaimer {
    font-size: 0.7rem !important;
  }

  #indiv-lesson {
    width: 60vw !important;
    padding-left: 10px;
    margin: 0 auto;
    padding-bottom: 20px !important;

    .kana-lesson-image {
      max-width: 50vw !important;
      margin: 0 auto;
    }

    .kana-info {
      font-size: 2vw;
    }
    a {
      font-size: 2.5vw;
    }
  }
  .test-form-container {
    h3 {
      font-size: 3rem !important;
    }

  }
  .test-question {
    // display:flex;
    width: 5vw !important;
    font-size: 5vw !important;
    text-align: center;
    margin: 0 auto;
    // height: 70px;
  }

  .input-field {
    width: 8vw !important;
  }
}

@media(min-width: 970px) {
  .english-header {
    font-size: 10rem !important;
  }

  .kana-header {
    font-size: 5rem !important;
  }


@media(min-width: 1240px) {
  .english-header {
    margin: 0 auto;
    max-width: 60vw;
  }

  .home-main {
    #welcome-kana {
      max-width: 70vw;
      font-size: 3rem !important;
    }

    #welcome-english {
      max-width: 70vw;
      font-size: 3rem !important;
    }

    .app-blurb {
      max-width: 70vw;
      font-size: 2rem !important;
    }
  }
  .ej-footer {
    font-size: 2rem !important;
  }
  .footer-socials {

    a {
      font-size: 2rem !important;
    }
  }
  .disclaimer {
    font-size: 1rem !important;
  }

  #indiv-lesson {
    width: 60vw !important;
    padding-left: 10px;
    margin: 0 auto;
    margin-bottom: 4rem;


    h1 {
      color: $lesson-blue;
    }

    .kana-lesson-image {
      max-width: 50vw !important;
      margin: 0 auto;
    }


    a {
      font-size: 2.5vw;
    }
  }
}
}

// TODO: move this
.error {
  background-color: #EE2C2C;
}

.correct {
  background-color: #32CD32;
}
